header {
    background-color:lightseagreen;
    color:white;
    height: 80px;
    width: 100%;
    position: relative;
  }

  #title{
    position: absolute;
    top:15%;
    left: 28%;
  }

#list
{
    position: absolute;
    top:13%;
    color:white;
}

#add
{
    position: absolute;
    top:13%;
    left:17%;
    color: white;
}

nav{
    background-color:sandybrown;
    opacity: 70%;
    height: 35px;
    clear:both;
   
}

ul{
  margin:0;
}

li {
  margin:14px 0 0 0;
  float: left;
  list-style-type: none;
  
}