.jumbotron{
    padding-top:3%;
    width:40%;
    margin: 20px 20px 20px 350px;
    background-color:lightskyblue;
    padding-bottom: 0.5%;
}

label{
    font-size: larger;
    font-family:Helvetica;
    color: white;
}

#name{
    margin: 20px 20px 20px 20px;
    border-radius: 25px;
  border: 2px solid rgb(255, 187, 160);
}

#location{
    margin: 20px 20px 25px 90px;
    padding: 0.5% 8%;
    border-radius: 25px;
  border: 2px solid rgb(255, 187, 160);
}

#email,#mobile{
    margin: 20px 20px 20px 110px;
    border-radius: 25px;
  border: 2px solid rgb(255, 187, 160);
}

#update{
  border: 2px solid salmon;
  padding: 3% 15%;
  margin: 10px 20px 20px 100px;
  color: white;
  background-color: salmon;
  
}

#update[disabled]{
    border: 2px solid salmon;
    background-color:salmon;
    color:white;
    opacity: 45%;
  }
