.jumbotron{
    padding-top:3%;
    width:40%;
    margin: 20px 20px 20px 350px;
    background-color:lightsalmon;
    opacity: 70%;
    padding-bottom: 0.5%;
}

label{
    font-size: larger;
    font-family:Helvetica;
    color: white;
}

#name{
    margin: 20px 20px 20px 20px;
    border-radius: 25px;
  border: 2px solid rgb(10, 151, 233);
}

#location{
    margin: 20px 20px 25px 90px;
    padding: 0.5% 8%;
    border-radius: 25px;
  border: 2px solid rgb(10, 151, 233);
}

#email,#mobile{
    margin: 20px 20px 20px 110px;
    border-radius: 25px;
  border: 2px solid rgb(10, 151, 233);
}

#add{
  border: 2px solid rgb(49, 173, 245);
  padding: 3% 15%;
  margin: 10px 20px 20px 100px;
  color: white;
  background-color: rgb(49, 173, 245);
  
}

#add[disabled]{
    border: 2px solid rgb(49, 173, 245);
    background-color:rgb(49, 173, 245);
    color:white;
    opacity: 45%;
  }
