

  <div class="container">
    <form #EmpForm=ngForm (submit)="add(EmpForm)">
      <div class="jumbotron ">
        <label>Employee Name:</label>
        <input name="name" type="text" id="name"  ngModel #ename="ngModel" required minlength="3" maxlength="30" pattern="[A-Za-z]+"/>
        <br>
        <div *ngIf="ename.dirty && ename.invalid" class="alert alert-danger">
          <div *ngIf="ename.errors.required">Name is required.</div>
          <div *ngIf="ename.errors.pattern">Please Enter only alphabets</div>
      </div>
        <br>
        <br>
        <label>Location:</label>
        <select name="location" id="location" ngModel required minlength=3 maxlength=30 #location="ngModel">
            <option value="Bangalore">Bangalore</option>
            <option value="Chennai">Chennai</option>
            <option value="Pune">Pune</option>
            <option value="Hyderabad">Hyderabad</option>
          </select>
          <div *ngIf="location.dirty  && location.invalid" class="alert alert-danger">
            <div *ngIf="location.errors.required">Location is required.</div>
     
        </div>
         
        <br>
        <br>
        <br>
        <label>Email:</label>
        <input type="text" name="email" id="email" ngModel  required email #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <div *ngIf="email.dirty && email.invalid" class="alert alert-danger">
          <div *ngIf="email.errors.required">Email Id is required.</div>
          <div *ngIf="email.errors.pattern">Please Enter valid email id</div>
      </div>
        
        <br>
        <br>
        <br>
        <label>Mobile:</label>
        <input type="text" name="mobile" id="mobile" ngModel required  maxlength="10" pattern="^[0-9]{10}$" #mobile="ngModel"/>
        <div *ngIf="mobile.dirty  && mobile.invalid" class="alert alert-danger">
          <div *ngIf="mobile.errors.required">Mobile Number is required.</div>
          <div *ngIf="mobile.errors.pattern">Please, Enter 10 digit Mobile Number</div>
      </div>
        <br>
        <br>
        <br>
        <button type="submit" id="add" [disabled]="!EmpForm.valid" class="btn btn-primary">Submit</button>
      </div>
      </form>
      
</div>


