
<div id="table">
  <form>
    <label id="fil">Filter by:</label>
    <br>
    <input name="search" type="text" id="filter" [(ngModel)]="searchEmployee"/>
    <br>
    <br>
    <br>
    <label id="label">Total Number of Employees:{{(employees|search:searchEmployee).length}}</label>
    
  </form>

    <br>
    <br>
    <table border="0">
          <tr>
            <th scope="col">EMP ID</th>
            <th scope="col">NAME</th>
            <th scope="col">LOCATION</th>
            <th scope="col">EMAIL</th>
            <th scope="col">MOBILE</th>
            <th scope="col">EDIT</th>
            <th scope="col">DELETE</th>
          </tr>
     
          <tr *ngFor="let employee of employees|search:searchEmployee;let i=index">
            <td><a [routerLink]="['/details',employee.id]">{{employee.id}}</a></td>
            <td id="name{{i+1}}">{{employee.name}}</td>
            <td id="location{{i+1}}">{{employee.location}}</td>
            <td id="email{{i+1}}">{{employee.email}}</td>
            <td id="mobile{{i+1}}">{{employee.mobile}}</td>
            <td><a [routerLink]="['/editEmployee',employee.id]" id="edit" >Edit{{employee.id}}</a></td>
            <td><a [routerLink]="['/employees']" id="delete" (click)="del(employee.id)">Delete{{employee.id}}</a></td>
          </tr>
      </table>

    
  </div>
