
tr:nth-child(odd) { 
    background-color: lightsalmon;
}
#table{
    position:fixed;
    top:25%;
    width: 100%;
}

th{
    text-align: center;
    height: 30px ;
    color: black;
}

table{
    position: relative;
    top: 10%;
    width: 100%;
}

td{
    text-align: center;
color: black;
}

#edit,#delete{
    background-color:lightcoral;
    padding: 7px 10px;
    border-radius:6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: beige;
}

#fil,#label{
    color: black;
    padding-left: 10%;
}

#filter{
    margin-left: 10%;
}