
<div class="card" style="width: 25rem;" id=c>
    <h4 id="card-title">EMPLOYEE DETAILS</h4>
<div class="card-body" id="card">
<label id="id">ID:{{employee.id}}</label>
<br>
<br>
<label id="name">Name:{{employee.name}}</label>
<br>
<br>
<label id="location">Location:{{employee.location}}</label>
<br>
<br>
<label id="email">Email:{{employee.email}}</label>
<br>
<br>
<label id="mobile">Mobile:{{employee.mobile}}</label>
<br>
<br>
<button [routerLink]="['/employees']" class="btn btn-primary" id="back">Back</button>
</div>
<div>
